* {
    padding: 0px;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    color: rgb(35, 35, 44);
    text-align: center;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}
#wrapper{
    height: 100vh;
    width: 100vw;
}
a{
    text-decoration: none;
    color: rgb(35, 35, 44);
}

ul{
    list-style-type: none;
}

p{
    max-width: 200px;

}
.light-text{
    color:white

}

.flex-row{
    display:flex;
}
.flex-col{
    display:flex;
    flex-direction: column;
}
.between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.align-center{
    align-content: center;
}

.headline {
    font-family: "Tilt Neon", cursive;
}

.flex-end{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.info{
    background-color: rgba(255, 255, 255, 0.45);
    border:solid 2px rgba(255, 255, 255, 0.829);
    border-radius: 20px;
    margin:10px;
    padding:10px;

}



.icon{
    height:100px;
    background-color: aliceblue;
    border: 5px solid  white;
    border-radius: 50%;
}


/* animation below */

#navBar{
    position: relative;
    animation: slide-in 2s forwards;
    padding:20px;

}

@keyframes slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

#navBar>div {
    position: relative;
    }

/* skills and projects animation below */

#projectDiv{
    height:450px;
    width:800px;
    background-color: rgba(0, 0, 0, 0.629);
    background: url('dunebikes.jpg') no-repeat top center; 
    background-size: cover;
    border-radius: 3em;

    position: relative;
    animation: slide-left 2s forwards;
    margin-bottom: 20px;
    padding:20px;

}

#skillsDiv{
    height:450px;
    width:800px;
    background-color: rgba(0, 0, 0, 0.629);

    background: url('bikerskills.jpg') no-repeat top left; 
    background-size: cover;
    border-radius: 3em;
    position: relative;
    animation: slide-in 2s forwards;
    margin-bottom: 20px;
    padding:20px;


}

@keyframes slide-left {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}